/* styles for this site specifically - not to me carried forward with the child-theme*/

.column-icon {
  font-size: 70px;
  color: #F1572B;
  text-align: center;
}

div.ptp-most-popular  {
  background-color: #BF1E2D !important;
}

span.per-year {
  font-size: 12px;
}
